<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
    </tr>
    <%
    data.forEach(record => {
    %>
        <tr>
            <td><%= record.id %></td>
            <td><%= record.Nome %></td>
            <td><%= record.Cognome %></td>
            <td><%= record.Indirizzo %></td>
        </tr>
    <%
    })
    %>
</table>

