<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
  </tr>
  <% const entries = Object.entries(data) 
   for (const [id, Nome, Cognome, Indirizzo] of entries){%>
    <tr>
      <td><%= id %></td>
      <td><%= Nome %></td>
      <td><%= Cognome %></td>
      <td><%= Indirizzo %></td>
    </tr>
  <% } %>
</table>

