<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
  </tr>
  <% data.forEach(singlePerson => {%>
    <tr>
      <td><%= singlePerson.id %></td>
      <td><%= singlePerson.Nome %></td>
      <td><%= singlePerson.Cognome %></td>
      <td><%= singlePerson.Indirizzo %></td>
    </tr>
  <% }); %>
</table>
